﻿@{
    ViewBag.Title = "Create";
}

<h2>Crear Recomendación.</h2>

<div class="ui-grid-a" style="width: 1000px; margin: 40px">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-a" style="height: auto">

            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Recomendar</legend>

                    <div class="editor-label">
                        <label>Nombre</label>
                    </div>
                    <div class="editor-field">
                        <input name="nombre"  required autofocus/>
                    </div>


                    <div class="editor-label">
                        <label>Teléfono</label>
                    </div>
                    <div class="editor-field">
                        <input name="telefono" type="text" required pattern="[0-9]{8}" title="INTRODUZCA sólo números de telefono, (Sin espacios, Ni guiones), y de 8 digitos!." />
                    </div>


                    <div class="editor-label">
                        <label>Correo</label>
                    </div>
                    <div class="editor-field">
                        <input name="correo" required type="email"/>
                    </div>


                    <div class="editor-label">
                        <label>Comentario</label>
                    </div>
                    <div class="editor-field">
                        <textarea name="comentario" required cols="20" rows="2" ></textarea>
                    </div>
                    <p>
                        <input id="enviado" title="Recomendación creada!" type="submit" value="Crear" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Regresar a Referencias", "MostrarReferencias")
            </div>

        </div>
    </div>
</div>
<!-- /grid-a -->




<script>

    $(document).ready(function () {
        $("#enviado").click(function () {
            alert('Gracias, su recomendación ha sido creada!', 'Alert Dialog');
        });
    });   

</script>
