﻿@{
    ViewBag.Title = "DatosPersonales";
}


<div class="jumbotron alert alert-warning alert-dismissable">

    <div class="row">
  <div class="col-xs-5 col-md-2">
    
      <img src="~/Content/themes/base/images/P1060460.jpg" data-src="holder.js/50%x90" alt="Mi foto">
        
    </a>
  </div>
   </div>
    
    <p>Nombre: Kenneth Aguilar Salas.</p><br />
    <p>Dirección: Urbanización Arcoiris 4ta entrada, departamentos esquineros.</p><br />
    <p>Correo Electrónico: koaguilars@est.utn.ac.cr</p><br />
    <p>Teléfono: 8998 2751.</p><br />
    <p>Estado Civil: Casado .</p><br />
    <p>Sexo: Masculino.</p><br /><br />

    <h2>Estudios realizados.</h2><br /><br />
    <p>Universitarios: Diplomado en ISW.</p><br />
    <p>INA: Power Point / Excel / Publisher / Word / Operador de computadoras .</p><br />
    <p>TEC: Manteniento de computadoras / Inglés conversacional.</p><br />    
 </div>
