﻿@{
    ViewBag.Title = "EnviarCorreo";
}

<h2>Enviar Correo.</h2>

<div class="ui-grid-a" style="width: 1000px; margin: 40px">
    <div class="ui-block-a">
        <div class="ui-bar ui-bar-a" style="height: auto">

            @using (Html.BeginForm())
            {        

                <fieldset>
                    <legend>Formulario de Correo</legend>

                    <div class="editor-label">
                        <label>Nombre Empresa</label>
                    </div>
                    <div class="editor-field">
                        <input required name="nombre" />
                    </div>

                    <div class="editor-label">
                        <label>Correo</label>
                    </div>
                    <div class="editor-field">
                        <input name="correoElectronico" required type="email"/>
                    </div>

                    <div class="editor-field">
                        <input type="hidden" name="asunto" value="SOLICITUD DE TRABAJO" />
                    </div>

                    <div class="editor-label">
                        <label>Mensaje</label>
                    </div>
                    <div class="editor-field">
                        <textarea name="mensaje" required cols="20" rows="2"></textarea>
                    </div>
                    <p>
                        <input type="submit" value="Enviar Correo" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Regresar a Principal", "Index")
            </div>

        </div>
    </div>
</div>
<!-- /grid-a -->
