﻿@{
    ViewBag.Title = "MostrarReferencias";
}

<h2>Recomendaciones de Trabajo.</h2><br />

<div class=" ui-body-b ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
		
		@*<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">&nbsp <br /><br /></h1>*@
		<a href="~/Home/Create" class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-grid ui-shadow" title=" Crear una recomendación nueva " data-form="ui-icon" > Crear recomendación </a>
	</div>

<br /><br />

<table data-role="table" id="movie-table-custom" data-mode="reflow" class="movie-list ui-responsive">
  <thead >
    <tr>
      <th style="width:15%" data-priority="1">Nombre y Apellidos</th>
      <th style="width:5%">Teléfono</th>
      <th style="width:5%" data-priority="2">Correo Electrónico</th>
      <th style="width:25%" data-priority="1"><abbr title="Comentarios de referencia.">Comentarios</abbr></th>      
    </tr>
  </thead>
    <tbody>
         @foreach (var item in ViewBag.referencias)
    {
    <tr>
      @*<th>@item.Id</th>*@
      <td class="title" style="color: #5f95cc;">@item.Nombre</td>
      <td>@item.Telefono</td>
      <td>@item.Correo</td>
      <td>@item.Comentario</td>      
    </tr>
    }
  </tbody>
</table>
@*----------------------------------------------*@
@*<table>
    <tr>
        <th>Nombre y Apellidos |</th>
        <th>Teléfono |</th>
        <th>Correo Electrónico |</th>
        <th>Comentarios de Referencia |</th>
    </tr>
    @foreach (var item in ViewBag.referencias)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Telefono</td>
            <td>@item.Correo</td>
            <td>@item.Comentario</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>*@