﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap/js")
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
</head>
<body>

    @RenderSection("scripts", required: false)

    
    <div class="ui-body-b ui-body">
    <h3>CURRÍCULUM VITAE</h3>    
    <div class="nav" data-role="navbar">   

        <ul>
            
            <li><a class="datos" href="~/Home/DatosPersonales">Datos personales</a></li>
            <li><a class="crear"  href="~/Home/MostrarReferencias">Recomendaciones</a></li>            
            <li><a  class="correo" href="~/Home/EnviarCorreo">Enviar Correo</a></li>
            
        </ul>        

    </div><!-- /navbar -->
</div><!-- /container -->
    

    @RenderBody()

    <script>       
 
            $(function(){
                var url = window.location.pathname,
                    urlRegExp = new RegExp(url.replace(/\/$/, ''));

                $('.nav a').each(function(){
                    if(urlRegExp.test(this.href)){
                        $(this).addClass('ui-btn-active');
                    }
                });
            });
            
    </script>  


</body>
</html>
